{% extends 'blogInfo/base.html' %}

{% block content %}
<div style="max-width: 600px; margin: 50px auto;">
    <h3 class="main-title" style="border-bottom: none; font-size: 1.5rem;">Respondiendo a {{ comentario_padre.usuario.username }}</h3>
    
    <div style="background: #e1d8c1; padding: 15px; border-left: 4px solid var(--ink-primary); margin-bottom: 20px; font-style: italic;">
        "{{ comentario_padre.contenido_comentario }}"
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div style="margin-top: 20px;">
            <button type="submit" class="btn-read" style="cursor: pointer; border: none; font-size: 0.9rem;">
                Publicar Respuesta
            </button>
            <a href="{% url 'post_detail' comentario_padre.post.pk %}" style="margin-left: 15px; color: var(--ink-muted); text-decoration: none;">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}